ul#channel-list{
	list-style-type: none;
    margin: 0;
    padding: 0; 
    border-width: 0px;
    width: 500px;
    float: left;
}

li button {
    display: block;
    width:100%;
    text-align: left;
}

.squareButton{
	background-color: white;
	border:none;
	padding: 10px;
	margin: 5px;
	color: #6441A4;
	font-size: 30px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	display: inline-block;
}

.squareButton:hover {
	background-color: rgba(255,255,255,0.5);
}

.username-viewing{
	font-size:15px;
	color: rgba(0,0,0,0.5);
}

article {
	display: block;
	position: fixed;
    /*border: 1px solid gray;*/
    padding: 1em;
    overflow: hidden;
    margin-left: 520px;
    margin-right: 180px;
    text-align: justify;
}
