
/* specifically related to the styling of index page */

#welcome {
	position: absolute;
	right: 10px;
	padding: 3px;
}

#big-logo{
	box-sizing: border-box;
	display: block;
	margin: auto;
	/*width: 830px;*/
	color: white;
	padding-top: 200px;
	font: 100px arial, sans-serif;
	/*text-shadow: 2px 3px 3px black;*/
}

#channel-list{
	display: block;
	margin: auto;
}
