
* { margin: 0; padding: 0; box-sizing: border-box; }

body.body-lounge { 
	font: 13px Helvetica, Arial; 
	color: white; 
	background-image: url("../assets/scrshot.png");
	background-color: #222;
}

#players {
    position: absolute;
}
.player { /* Todo: Make this not bad */
    width: 15px;
    height: 15px;
    background-color: gold;
    position:absolute;
    border-radius:30px;
    box-shadow: 0 0 70px 20px gold;
}

#left{
	position: relative;
	width: 75vw;
	height: 100vh;
	margin: 0;
	left: 0;
	top: 0;
}

#right{
	position: fixed;
	width: 25%;
	height: 100%;
	right: 0;
	top:0;
}

#logo {
    position: absolute;
    margin: 8px;
    z-index: 99;
}

#instructionText{
    position: absolute;
    bottom: 7vh;
    width:100%;
    font-size: 14px;
    z-index: 2;
    text-shadow: 0 0 10px black;
}

#temp{
	/* delete me */
	top: 100px;
	left: 200px;
}

#player-info{
	position: absolute;
	background-color: rgba(255,255,255,0.2);
	border: 0;
	padding: 10px;
	z-index: 98;
}

#video{
	position: relative;
	margin: 5px;
	margin-bottom: 2.5px;
	background: rgba(255,255,255,0.5);
	border:0;
	width: 100% - 5px;
	height: auto;
	right: 0;
	top: 0;
	/*resize: both;*/
	overflow: auto;
	box-sizing: border-box;
}

#chatroom{
	position: relative;
	margin: 5px;
	margin-top: 2.5px;
	background: rgba(255,255,255,0.5);
	border:0;
	width: 100% - 5px;
	height: 80%;
	/*right: 0;*/
	bottom: 0;
	/*resize: both;*/
	overflow: auto;
}
#chatroom form { padding: 3px; position: absolute; bottom: 15px; width: 100%; }
#chatroom form input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
#chatroom form button { width: 18.5%; background: rgb(130, 224, 255); border: none; padding: 10px; }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }


#local-chatroom form {
    width: 100%;
    display: table;
    position: absolute;
    bottom: 10px;
    z-index: 3; /* TODO: In future we need to box off a 'player pen' and have this at the bottom */
}
#local-chatroom form input[type="text"] {
    display: table-cell;
    width: 90%;
    padding: 10px;
    border: none;
}
#local-chatroom form input[type="submit"] {
    display: table-cell;
    width: 10%;
    border: none;
    padding: 10px;
    background: rgb(130, 224, 255);
    min-width: 100px;
}
ul.localmsgs {
    position: absolute;
    top: 20px;
    list-style: none;
    color: black;
}
.localmsgs li { /* Might need to move local messages somewhere else ... but for now it'll be janky */
    background: white;
    padding: 5px;
    width: 150px;
}

/* Streamer Setup CSS*/
#setup {
    color: black;
    background: white;
    position: absolute;
    padding: 10px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 150px;
    width: 350px;
}
#setup p {
    font-size:11px;
    color: #797979;
    padding-top: 3px;
    padding-bottom: 5px;
}
#setup hr {
    border: none;
    border-bottom: 1px solid #cacaca;
    margin-top: 8px;
    margin-bottom: 8px;
}
#setup #close-setup {
    float: right;
    color: #20adc7;
    text-decoration: none;
}
button#save-setup {
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}
button#show-setup {
    top: 15px;
    left: 70px;
    position: absolute;
}