
* { margin: 0; padding: 0; box-sizing: border-box; }

body.body-lounge { 
	font: 13px Helvetica, Arial; 
	color: white;
	background-color: #222;
}

#floor {
    background-color: red;
    position: fixed;
    background-image: url("../assets/sprites/loungeSprites/floor.png");
    background-repeat: repeat;
    box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.4);
    border: 1px solid #ffca9a;
}
#players {
    position: absolute;
    list-style-type: none;
}
.player { /* Todo: Make this not bad */
    width: 15px;
    height: 15px;
    background-color: gold;
    position:absolute;
    border-radius:30px;
    box-shadow: 0 0 70px 20px white;
    image-rendering: pixelated;
}

#left{
	position: relative;
	width: 75vw;
	height: 100vh;
	margin: 0;
	left: 0;
	top: 0;
}

#right{
	position: fixed;
	width: 25%;
	height: 100%;
	right: 0;
	top:0;
}

#logo {
    position: absolute;
    margin: 8px;
    z-index: 99;
}

.zoomer {
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 10;
}
label.zoomer { top: 20px;}

#player-info{
	position: absolute;
	background-color: rgba(255,255,255,0.2);
	border: 0;
	padding: 10px;
	z-index: 98;
}

#video{
	position: relative;
	margin: 5px;
	margin-bottom: 2.5px;
	background: rgba(255,255,255,0.5);
	border: 1px grey solid;
	width: 100% - 5px;
	height: auto;
	right: 0;
	top: 0;
	/*resize: both;*/
	overflow: auto;
	box-sizing: border-box;
}


/* Twitch all chat */
#chatroom{
	position: relative;
	margin: 5px;
	margin-top: 2.5px;
	background: rgba(255,255,255,0.5);
	border:0;
	width: 100% - 5px;
	height: 80%;
	/*right: 0;*/
	bottom: 0;
	/*resize: both;*/
	overflow: auto;
}

#chatroom form { padding: 3px; position: absolute; bottom: 15px; width: 100%; }
#chatroom form input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
#chatroom form button { width: 18.5%; background: rgb(130, 224, 255); border: none; padding: 10px; }


/* Local chat */
#local-chatroom { /* Contaner */
    position: absolute;
    z-index: 3;
    bottom: 5px;
    padding: 5px;
    width: 100%;
}
#local-chatroom form {
    width: 100%;
    display: table;
    border: 5px solid rgba(0,0,0,0);
}
#local-chatroom form input[type="text"] {
    display: table-cell;
    width: 90%;
    padding: 10px;
}
#local-chatroom form input[type="submit"] {
    display: table-cell;
    width: 9%;
    padding: 10px;
    background: #6441A4;
    min-width: 100px;
    color: white;
}

/* display the histories of local messages */
#local-messages-history {
    top: 50px;
    width: 25%;
    right: 10px;
    position: absolute;
    z-index: 10;
    color: black;
    height: 75vh;   
    overflow: auto;
}
#local-messages-history::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(111, 111, 111, 0.5);
}
#local-messages-history::-webkit-scrollbar-thumb {background-color: #797979;}
#local-messages-history li{
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    padding: 10px ;
    margin-top: 10px;
    list-style: none;
}
#local-messages-history li:last-of-type { 
    background: rgba(255,255,255,0.2);
    color: rgba(0,0,0,0.6);
}


/* Setup forms for user and streamer */
.setup-form {
    color: black;
    background: white;
    position: absolute;
    padding: 10px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 350px;
    z-index: 100;
}
.setup-form p {
    font-size:11px;
    color: #797979;
    padding-top: 3px;
    padding-bottom: 5px;
}
.setup-form hr {
    border: none;
    border-bottom: 1px solid #cacaca;
    margin-top: 8px;
    margin-bottom: 8px;
}
.setup-form .close-setup {
    float: right;
    color: #6441A4;
    text-decoration: none;
}
button.save-setup {
    right: 5px;
    background: #6441A4;
    color: white;
    bottom: 5px;
    position: absolute;
    border: none;
    padding: 10px;
}

button.top-button {
    top: 15px;
    font-size: 10px;
    position: absolute;
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.5);
}

button.top-button:hover {
    color: #6441A4;
    background-color: white;
}

/* Streamer Setup CSS*/
button#show-setup {
    left: 210px;
}
/* User Setup CSS */
button#show-user-setup {
    left: 120px;
}
/* help button that display little text bubbles */
button#show-help {
    left: 89px;
}